/* General styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --main-color: #3b4668;
  --main-text-color: #3b4668;
  --secondary-text-color: #67718e;
  --text-white: #ffffff;
  --interactive-element: #6f778fb3;
  --btn-shadow: #a09c9c7d;
  --btn-shadow-hover: #b3b0b01f;
  --bkg-white-rgb: 255, 255, 255;
  --bkg-forecast: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(240, 238, 238, 0) 100%
  );
  --card-bkg-clear-d: linear-gradient(180deg, #ffeda0 0%, #ffa585 100%);
  --card-bkg-clear-n: linear-gradient(180deg, #bdb2ff 0%, #94cbff 100%);
  --card-bkg-few-clouds: linear-gradient(180deg, #c1f8e4 0%, #9fddff 68.75%);
  --card-bkg-broken-clouds: linear-gradient(180deg, #94cbff 0%, #ffceda 100%);
  --card-bkg-rain: linear-gradient(180deg, #ada0ff 0%, #c9cfde 100%);
  --card-bkg-thunderstorm: linear-gradient(180deg, #ffeda0 0%, #c2c9e1 100%);
  --card-bkg-snow: linear-gradient(180deg, #c8f5ff 27.08%, #7bd0ff 100%);
  --card-bkg-mist: linear-gradient(180deg, #ffc2c2 0%, #c1f8e4 100%);
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
  min-height: 100vh;
}

a,
.hide {
  text-decoration: none;
  color: var(--interactive-element);
}

a:hover {
  text-decoration: none;
  color: var(--main-text-color);
}

h1 {
  font-weight: 900;
}

h3 {
  margin: 0;
  font-weight: 700;
}

.weather-card {
  color: var(--main-color);
  border-radius: 25px;
  margin: 10px auto;
  max-width: 500px;
  min-width: 200px;
  padding: 24px;
  /* background: var(--card-bkg-clear-d); */
}

/* Search Bar */
.search-bar {
  margin-top: 10px;
  margin-bottom: 40px;
}

.form-control {
  display: inline;
  width: 60%;
  margin: 0 4px;
}

.btn-search {
  padding: 0 0.75rem;
  margin: 0 4px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: none;
  border-radius: 0.375rem;
  background: var(--main-color);
  box-shadow: 0px 4px 10px var(--btn-shadow);
  color: var(--text-white);
}

.btn-location {
  padding: 0 0.75rem;
  margin: 0 4px;
  border: none;
  border-radius: 0.375rem;
  background: rgba(var(--bkg-white-rgb), 0.5);
  box-shadow: 0px 4px 10px var(--btn-shadow);
}

.btn-search:hover {
  background: var(--secondary-text-color);
  box-shadow: 0px 4px 10px var(--btn-shadow-hover);
  color: var(--text-white);
}

.btn-location:hover {
  background: rgba(var(--bkg-white-rgb), 0.4);
  box-shadow: 0px 4px 10px var(--btn-shadow-hover);
  color: var(--main-color);
}

/* City Details */
.city-name-date {
  margin: 20px 0;
}

.city-name {
  text-transform: capitalize;
}

/* Main icons */
.main-icons {
  margin: 20px 0;
}

.main-weather-icon {
  width: 100%;
  min-width: 100px;
}

/* Weather Data */
div h2::first-letter {
  text-transform: capitalize;
}

.temperature-degrees {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 700;
}

.active {
  color: var(--main-text-color);
  font-weight: 900;
  text-decoration: none;
  opacity: 100%;
  pointer-events: none;
}

.max-min-units {
  font-weight: 900;
}

.weather-data {
  margin: 20px 0;
}

/* Motivational Phrase */
.motiv-phrase {
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: italic;
}

/* Forecast */
.forecast-details {
  background: var(--bkg-forecast);
  background-blend-mode: soft-light;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 6px;
}

.forecast img {
  margin-bottom: 5px;
  padding: 5px;
}

.forecast h6 {
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}

.forecast h5 {
  font-size: 1em;
}

/* Footer */
.signature {
  color: var(--main-text-color);
}

.signature-link {
  color: var(--secondary-text-color);
  text-decoration: underline;
}

.signature-link:hover {
  color: var(--interactive-element);
}
